.adobe
.macromedia
.cache
.dbeaver
.dbus
.eclipse
.gstreamer-0.10
.gimp-2.8/
.gimpold
.homestead
.icons
.java
.local
.mozilla
.nv
.oh-my-zsh
.pki
.putty
.PyCharm40
.remmina
.ssh
.thumbnails
.thunderbird
.vagrant.d
.vimperator
.vnc
Builds
Desktop
Dev
Documents
Downloads
gPodder
Music
Pictures
Public
School
Todo
Videos
VirtualBox VMs
.bash_history
.bash_logout
.bash_profile
.dmrc
.face
.fehbg
.esd_auth
.gitconfig
.gtk-bookmarks
.NERDTreeBookmarks
.nvidia-settings-rc
.viminfo
.Xauthority
.xscreensaver
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-archbox-5.1.1
.zsh-update
.zsh_history
dual_screen.sh
